[Unit]
Description=Hades deamon

[Service]
User=nrenard
WorkingDirectory=/app/hades
ExecStart=/app/hades/batch/hades.sh
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy=multi-user.target
